@media (max-width: 768px) {
  .container {
    max-width: 95%;
  }
  /* Navbar */

  .nav-bar {
    flex-direction: column;
    align-items: flex-start;
    padding-block: 20px;
  }
  .logo {
    width: 25%;
  }
  .nav-bar .links {
    width: 100%;
  }

  .nav-bar .links ul {
    flex-direction: column;
    padding-block: 20px;
  }
  .nav-bar .links ul li {
    font-size: 16px;
    border-bottom: #6868681d solid 1px;
  }

  /* home section */
  .content {
    max-width: 80%;
  }
  .content p.welcome {
    font-size: 22px;
    margin-bottom: 5px;
  }
  .content h1 {
    font-size: 34px;
  }
  .content p.contentP {
    font-size: 16px;
  }
  .btns .learn {
    padding-inline: 15px;
    padding-block: 12px;
    font-size: 14px;
  }

  .btns .contact {
    padding-inline: 15px;
    padding-block: 12px;
    font-size: 14px;
  }

  /* About Section */
  .about {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-photo {
    width: 80%;
  }

  .about-content {
    width: 80%;
  }
  .about-content h2,
  .offer h2,
  .baking-sec .baking-header h2,
  .contact-content h2 {
    font-family: "Alegreya", serif;
    font-weight: 300;
    font-size: 25px;
  }
  .icon-img {
    width: 13%;
  }
  .icons-div {
    margin-bottom: 2px;
  }

  /* Offer Section */
  .offer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .offer-img {
    width: 80%;
  }

  .offer-content {
    width: 80%;
  }

  /* Baking Section */

  .gallery {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .gallery-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .gallery-img {
    width: 80%;
  }

  .gallery-content {
    text-align: center;
    width: 80%;
  }

  /* Contact Section */

  .contact {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact-content {
    width: 80%;
  }
  .contact-map {
    width: 80%;
  }
  .contact-icon {
    width: 10%;
  }
  .contact-item {
    margin-bottom: 15px;
  }

  /* Details Section */
  .details-lists {
    flex-direction: column;
    align-items: center;
  }
  .details-lists div p.about-us-p {
    font-size: 16px;
  }
  .details-item span {
    font-size: 16px;
  }
  .part-1,
  .part-2,
  .part-3,
  .part-4 {
    width: 80%;
  }
  .details-item div {
    width: 5%;
  }
  .details-item span {
    font-size: 16px;
  }

  /* Footer */

  .last p {
    color: #686868;
    padding-block: 10px;
  }
  .last div.links {
    width: 22%;
  }
}
