html {
  scroll-behavior: smooth;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding-top: 70px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  max-width: 90%;
  margin-inline: auto;
}

/* Navbar */
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  background: white;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}
.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-block: 10px;
}
.logo {
  width: 15%;
}
.logo img {
  width: 100%;
}
.nav-bar .links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}
.nav-bar .links ul li {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.502);
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}
.nav-bar .links ul li:hover {
  color: black;
}
/* target */
body:has(#home:target) nav a[href="#home"],
body:has(#about:target) nav a[href="#about"],
body:has(#offer:target) nav a[href="#offer"],
body:has(#baking:target) nav a[href="#baking"],
body:has(#contact:target) nav a[href="#contact"],
body:not(:has(:target)) nav a[href="#home"] {
  color: black;
}
/* home section */

section.home {
  height: 100vh;
  background-image: url(../images/drew-coffman-1872.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  margin-bottom: 20px;
}
section.home::after {
  content: " ";
  background-color: rgba(0, 0, 0, 0.148);
  position: absolute;
  inset: 0;
}
.home-content {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 10;
}
.content {
  color: white;
  text-align: center;
  max-width: 57%;
}
.content p.welcome {
  font-size: 22px;
  margin-bottom: 0;
  font-family: "Alegreya Sans", sans-serif;
}
.content h1 {
  font-size: 76px;
  margin-bottom: 5px;
  margin-top: 2px;
  font-family: "Alegreya", serif;
  font-weight: 400;
}
.content p.contentP {
  font-size: 24px;
  font-family: "Alegreya Sans", sans-serif;
}
.btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.btns .learn {
  color: white;
  background-color: #8e7745;
  padding-inline: 27px;
  padding-block: 16px;
  border: transparent 2px solid;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 600;
  text-transform: capitalize;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}

.btns .contact {
  color: white;
  background-color: transparent;
  padding-inline: 27px;
  padding-block: 16px;
  border: white 2px solid;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 600;
  text-transform: capitalize;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}
.btns .learn:hover,
.btns .contact:hover {
  background-color: white;
  color: black;
}

.bakery-name::after {
  content: "";
  -webkit-animation: typing 4s linear infinite;
  animation: typing 4s linear infinite;
}
@-webkit-keyframes typing {
  0% {
    content: "|";
  }
  4% {
    content: "F|";
  }
  8% {
    content: "Fa|";
  }
  12% {
    content: "Fam|";
  }
  16% {
    content: "Fami|";
  }
  20% {
    content: "Famil|";
  }
  24% {
    content: "Family|";
  }
  28% {
    content: "Family |";
  }
  32% {
    content: "Family B|";
  }
  36% {
    content: "Family Ba|";
  }
  40% {
    content: "Family Bak|";
  }
  44% {
    content: "Family Bake|";
  }
  48% {
    content: "Family Baker|";
  }
  52% {
    content: "Family Bakery|";
  }
  56% {
    content: "Family Baker|";
  }
  60% {
    content: "Family Bake|";
  }
  64% {
    content: "Family Bak|";
  }
  68% {
    content: "Family Ba|";
  }
  72% {
    content: "Family B|";
  }
  76% {
    content: "Family |";
  }
  80% {
    content: "Family|";
  }
  84% {
    content: "Famil|";
  }
  88% {
    content: "Fami|";
  }
  92% {
    content: "Fam|";
  }
  96% {
    content: "Fa|";
  }
  98% {
    content: "F|";
  }
  100% {
    content: "|";
  }
}
@keyframes typing {
  0% {
    content: "|";
  }
  4% {
    content: "F|";
  }
  8% {
    content: "Fa|";
  }
  12% {
    content: "Fam|";
  }
  16% {
    content: "Fami|";
  }
  20% {
    content: "Famil|";
  }
  24% {
    content: "Family|";
  }
  28% {
    content: "Family |";
  }
  32% {
    content: "Family B|";
  }
  36% {
    content: "Family Ba|";
  }
  40% {
    content: "Family Bak|";
  }
  44% {
    content: "Family Bake|";
  }
  48% {
    content: "Family Baker|";
  }
  52% {
    content: "Family Bakery|";
  }
  56% {
    content: "Family Baker|";
  }
  60% {
    content: "Family Bake|";
  }
  64% {
    content: "Family Bak|";
  }
  68% {
    content: "Family Ba|";
  }
  72% {
    content: "Family B|";
  }
  76% {
    content: "Family |";
  }
  80% {
    content: "Family|";
  }
  84% {
    content: "Famil|";
  }
  88% {
    content: "Fami|";
  }
  92% {
    content: "Fam|";
  }
  96% {
    content: "Fa|";
  }
  98% {
    content: "F|";
  }
  100% {
    content: "|";
  }
}
.animation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  margin-top: 50px;
}
.home-animation {
  width: 35px;
  height: 55px;
  border-radius: 20px;
  border: rgba(255, 255, 255, 0.795) solid 2px;
  padding-top: 5px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.home-ball {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white;
  animation: translating 1.5s linear 1s infinite;
  opacity: 0;
}
@keyframes translating {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }
  50% {
    transform: translateY(6px);
    opacity: 1;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}

/* About Section */

.about-sec,
.offer-sec,
.baking-sec,
.contact-sec,
.details-sec {
  padding-block: 70px;
}
.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 70px;
}
.about-photo {
  width: 50%;
}
.about-photo img {
  width: 100%;
  border-radius: 10px;
}
.about-content {
  width: 50%;
}
.about-content h2,
.offer h2,
.baking-sec .baking-header h2,
.contact-content h2 {
  font-family: "Alegreya", serif;
  font-weight: 300;
  font-size: 30px;
}
.about-content p.paragraph,
.offer p.paragraph,
.baking-sec .baking-header p,
.gallery-content,
.contact-content p,
.contact-content span {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 17px;
  color: #686868;
  line-height: 30px;
}
.icon-img {
  width: 8%;
  border: 1px #6868685b solid;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2px;
}
.icon-img img {
  width: 100%;
}
.icons-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}
.icons-div p {
  color: #686868;
  font-size: 17px;
}

/* Offer Section */
.offer-sec,
.contact-sec {
  background-color: #f8f8f8;
}
.offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 50px;
}
.offer-img {
  width: 50%;
}
.offer-img img {
  width: 100%;
  border-radius: 10px;
}
.offer-content {
  width: 50%;
}

/* Baking Section */

.baking-sec .baking-header {
  text-align: center;
}
.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  margin-top: 50px;
}
.gallery-item {
  border-radius: 10px;
  transition: all 0.4s;
  overflow: hidden;
}
.gallery-item:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
}
.gallery-item:hover img {
  transform: scale(1.05);
}
.gallery-img {
  width: 100%;
}
.gallery-img img {
  width: 100%;
  border-radius: 10px;
  transition: all 0.4s;
}
.gallery-content {
  text-align: center;
}
.gallery-content h3 {
  color: black;
  font-weight: 400;
  font-family: "Alegreya", serif;
}

/* Contact Section */

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
}
.contact-content {
  width: 50%;
}
.contact-map {
  width: 50%;
}
.contact-map iframe {
  width: 100%;
  border-radius: 10px;
}
.contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.contact-icon {
  width: 6%;
  background-color: #8e7754;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1px;
}
.contact-item img {
  width: 100%;
}
.details-p {
  padding-bottom: 20px;
}

/* Details Section */
.details-sec {
  background-color: #403d38;
  padding-block: 30px;
}
.details-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.details-lists h4 {
  color: white;
  font-weight: 400;
  font-family: "Alegreya", serif;
  font-size: 18px;
  margin-bottom: 20px;
}
.details-lists div p.about-us-p {
  font-family: "Alegreya Sans", sans-serif;
  color: #969696b1;
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 20px;
}
.details-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1px;
  color: #969696ab;
  font-family: "Alegreya Sans", sans-serif;
  border-bottom: #6868684e 1px solid;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.details-item div img {
  width: 100%;
}
.details-item span {
  font-size: 14px;
}
.part-1,
.part-2,
.part-3,
.part-4 {
  width: 25%;
}
.details-icon img {
  width: 100%;
}
.details-item div {
  width: 10%;
  padding: 3px;
}
.details-item div img {
  width: 100%;
}
.details-item span {
  font-size: 14px;
}
.details-item span a:hover {
  color: rgba(255, 255, 255, 0.699);
}
.details-item span a {
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}
.part-4 {
  background-image: url(../images/contact-details-map.png);
  background-repeat: no-repeat;
  background-position: center center;
}
.details-icon {
  width: 200%;
}
.details-icon img {
  width: 100%;
}

/* Footer */

footer .last {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #353330;
  padding-block: 20px;
}
.last p {
  color: #686868;
}
.last div.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 15%;
  gap: 10px;
  margin-block: 5px;
}

.last div a img {
  width: 100%;
  background-color: #403d38;
  border-radius: 100%;
}
.last div a img:hover {
  background-color: #403d389a;
}
